@import "../../../global.scss";

.homeContent{
    padding-left:50px;
    
    .renderSection{
        width: 1170px;
        background: #fff;
        border-radius: 7px;
        min-height: 528px;
    }
}