@import "../../../global.scss";

.homeContent{
    padding-left:50px;
    
    .renderSection{
        max-width: 1051px;
        display: flex;
        flex-wrap: wrap;
        background: #fff;
        border-radius: 7px;
        min-height: 528px;
        padding: 30px;
    }
}

.images{
    display: flex;
    flex-wrap: wrap;
}

.carusel{
    width: 500px;
}