

.mainImage-container{
    width: 100%;
    height: 300px;
    background: url("../../../images/home/home1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -270px;
}