$ligth-background: #d9e8c72b;
$min-height: calc(100vh - 145px);
$padding-top:100px;
$lightColor:#fff;
$darckBackground: #02020294;
$blue-background: #3335e1;

body {
    padding: 0;
    margin: 0;
}

* {
    font-family: 'Open sans';
}

a {
    text-decoration: none;
}

.home-container{
    display: flex;
    background: #f0f0f0;
    padding-top: 40px;
    min-height: 564px;


    .home-wrapper{
        width: 80%;
        margin: 0 auto;
        display: flex;
    }
    
}






